:root {
  --main-bg-rd: 20px;
  --body-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#taskInput {
  font-family: var(--body-font);
  width: 31vw;
  margin: 50px 0 70px 30vw;
  height: 30px;
  border-style: double;
  font-size:large;
  font-weight: 900;
}

.addBtn {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: aquamarine;
  cursor: pointer;
}
.userAlert {
  margin: -40px 0 0 30vw;
  padding: 5px 0px 3px 10px;
  width: 30vw;
  height: 30px;
  color: black;
  color: red;
  background-color: bisque;
  border: solid black 2px;
  display: none;
}

.task {
  width: 30vw;
  margin: 8px 0 0 30vw;
  height: 30px;
  display: block;
  border-radius: var( --main-bg-rd);
  background-color: bisque;
  border: 1px solid black;
  padding: 8px;
   font-weight: 900;
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.5;
  background-color: beige;
}

.deleteButton {
  position: absolute;
  right: 40vw;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.completeButton {
  position: absolute;
  right: 45vw;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  background-color: skyblue;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.userAlert.show {
  display: block;
}
